<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Helmsman</title>
  </head>
  <body>
    <h1>Hey there</h1>
    <p>
        I am glad you are here. This is 刘凡竞, aka, Frank, aka, thetank, aka, lil Albert ,aka, lil Issac, aka, lil Nikola, aka, leetcode global ranking 868th.
        <br>
        I've decided to go down this path of building a personal/hobby site while I wait for my work authorization.
        
        <br>
         I have became so bored that I started doing cardio and learning shit. hopefully I can think of some cool and unique project to flex on all yall.
        <br>
        I don't know where this is going yet, maybe I do a little collective web scraping or fiddle with some black magic from github and post it here if it gets funny.
        <br>
        
        Web site written in Django, <a href="https://github.com/FanjingLiu/Helmsman">GITHUB</a>
        
    </p>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>