<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Helmsman</title>
  </head>
  <body>
    <h1>Hey there</h1>
    <p>
        I am glad you are here. This is 刘凡竞, aka, Frank, aka, thetank, aka, lil Albert ,aka, lil Issac, aka, lil Nikola, aka, leetcode global ranking 868th.
        <br>
        I've decided to go down this path of building a personal/hobby site while I wait for my work authorization to get mailed.
        
        <br>
         I have became so bored that I started doing cardio and learning useless shit. hopefully I can think of some cool and unique project to flex on all yall.
        <br>
        I don't know where this is going yet, maybe I fiddle with some black magic from github and post it here if it gets funny.
        <br>
        
        project written in Django, entire server end, I intend to keep it that way, <a href="https://github.com/FanjingLiu/Helmsman">GITHUB</a>
        
        
        <br>
        <br><br>

        <strong>
          In the Misc folder of this project's GITHUB, I have included a python script that might(I don't know, never tried it.) be able to scrape the information of USCIS's website, 
          <br>
          this was used for the scraping of other legal educational website for absolute educational purposes only and was never used for anything else, 
          <br>
          there's a little to none of a chance that it might work with some other websites^^(up 2 you never know)
          <br> 
          
          <br> 
          Most of all, if your information is currently held by the internet service provider that you are using, it would be really stupid to run anything on any server. 
          <br> 
          <H1>Please don't abuse, use at your own risk, please consult target network administrater before using the mentioned script.  this script wasn't implemented with DDOS attack in mind, none the less, I have heard there are a lot of servers that are not protect or prepared for any DDOS attack, attacks that can be done by using 20$ per month IP proxy server. </H1>
              </strong>
    </p>

    <p>
      If you are a hobbiest, if you know some open source repo that's less tread and futuristic, let me know.......Waiting is a bore.....
    </p>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>